<html>
  <head>
  </head>
  <body>
  	<form>
  		<input type="text" name="guess" />
  		<input type="submit" name="Guess!" />
  	</form>
    	<p>
    		Your GUESS is <%= guess %>
    	</p>
    	<p>
    		<%= message %>
    	</p>
  </body>
</html>
