<html>
  <head>
  </head>
  <body>
  	<form>
  		<input type="text" name="guess" />
  		<input type="submit" name="Guess!" />
    	<p>
      		The SECRET NUMBER is <%= number %>
    	</p>
    	<p>
    		Your GUESS is <%= guess %>
  	</form>
  </body>
</html>
